Repository abhiksd/azure-static-webapp-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team, @your-team/security-team, @your-team/frontend-team, @your-team/backend-team, @your-team/qa-team

.github/CODEOWNERS:

# Global code owners - these users will be requested for review on all PRs
* @your-team/core-team

# GitHub Actions workflows require admin approval
/.github/workflows/ @your-team/devops-team @your-team/admin-team

# Security-sensitive files
/.github/actions/security-scan/ @your-team/security-team
/.github/actions/azure-keyvault/ @your-team/security-team @your-team/devops-team

# Deployment configurations
/.github/actions/deploy-static-app/ @your-team/devops-team
/staticwebapp.config.json @your-team/devops-team
/azure-pipelines.yml @your-team/devops-team

# Package management
/package.json @your-team/core-team
/package-lock.json @your-team/core-team

# Configuration files
/.releaserc.json @your-team/core-team
/sonar-project.properties @your-team/core-team
/.env* @your-team/devops-team

# Documentation
/README.md @your-team/core-team
/docs/ @your-team/core-team

# Source code by feature area
/src/components/ @your-team/frontend-team
/src/services/ @your-team/backend-team
/src/utils/ @your-team/core-team
/src/hooks/ @your-team/frontend-team
/src/contexts/ @your-team/frontend-team

# Testing
/src/**/*.test.* @your-team/qa-team
/src/**/*.spec.* @your-team/qa-team
/e2e/ @your-team/qa-team
/cypress/ @your-team/qa-team

# Build and deployment
/build/ @your-team/devops-team
/dist/ @your-team/devops-team
/Dockerfile @your-team/devops-team
/docker-compose.yml @your-team/devops-team

Add pre-production environment and release branch support to CI/CD pipeline
  .github/workflows/branch-protection.yml
  .github/workflows/ci-cd.yml
  .github/workflows/semantic-release.yml
  DEPLOYMENT_GUIDE.md
  PROJECT_SUMMARY.md
  README.md
  cypress.config.js
  cypress/e2e/app.cy.js
  cypress/support/commands.js
  cypress/support/e2e.js
  environments/pre-production.json
  lighthouserc.json
  package.json
  public/index.html
  public/manifest.json
  src/App.css
  src/App.js
  src/App.test.js
  src/components/About.css
  src/components/About.js
  src/components/Contact.css
  src/components/Contact.js
  src/components/Footer.css
  src/components/Footer.js
  src/components/Header.css
  src/components/Header.js
  src/components/Home.css
  src/components/Home.js
  src/components/Home.test.js
  src/index.css
  src/index.js
  src/reportWebVitals.js
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team, @your-team/qa-team, @your-team/frontend-team

Checkpoint before follow-up message
  .github/actions/enhanced-deploy/action.yml
  .github/workflows/enhanced-ci-cd.yml
  scripts/health-check.js
  scripts/monitoring.js
  scripts/rollback.js
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

feat: Add production-grade Azure Static Web Apps deployment enhancements
  PRODUCTION_GUIDE.md
  scripts/health-check.js
  scripts/monitoring.js
  scripts/rollback.js
Owners: @your-team/core-team

feat: Add comprehensive PR protection with configurable SonarCloud and Checkmarx integration
  .github/workflows/pr-protection.yml
  docs/PR_PROTECTION_GUIDE.md
  package.json
  scripts/branch-protection.js
  scripts/security-config.js
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

feat: Add comprehensive Node.js frontend application with monitoring integration
  src/App.css
  src/App.js
  src/components/About.js
  src/components/Dashboard.css
  src/components/Dashboard.js
  src/components/DeploymentStatus.js
  src/components/HealthCheck.css
  src/components/HealthCheck.js
  src/components/Monitoring.css
  src/components/Monitoring.js
  src/components/Settings.js
  src/components/UserProfile.js
  src/context/AppContext.js
  src/context/HealthContext.js
  src/context/MonitoringContext.js
  src/utils/analytics.js
  src/utils/dateUtils.js
  src/utils/environment.js
Owners: @your-team/core-team, @your-team/frontend-team

docs: Create comprehensive documentation structure
  docs/01-INFRASTRUCTURE-SETUP.md
  docs/02-DEPLOYMENT-GUIDE.md
  docs/03-ENVIRONMENT-CONFIGURATION.md
  docs/04-AZURE-KEYVAULT-INTEGRATION.md
  docs/05-MONITORING-GUIDE.md
  docs/06-PR-PROTECTION-GUIDE.md
  docs/07-TROUBLESHOOTING.md
  docs/08-SECURITY-BEST-PRACTICES.md
  docs/09-OPERATIONS-RUNBOOK.md
  docs/10-API-REFERENCE.md
  docs/README.md
Owners: @your-team/core-team

Remove deployment and production guide documentation files
  DEPLOYMENT_GUIDE.md
  PRODUCTION_GUIDE.md
Owners: @your-team/core-team

Checkpoint before follow-up message
  .github/workflows/enhanced-ci-cd.yml
Owners: @your-team/devops-team, @your-team/admin-team

Checkpoint before follow-up message
  .github/actions/azure-keyvault/action.yml
  .github/workflows/branch-protection.yml
  .github/workflows/ci-cd.yml
  .github/workflows/enhanced-ci-cd.yml
  README.md
  docs/04-AZURE-KEYVAULT-INTEGRATION.md
  docs/07-TROUBLESHOOTING.md
  docs/11-MIGRATION-TO-MANAGED-IDENTITY.md
  scripts/setup-managed-identity.sh
Owners: @your-team/security-team, @your-team/devops-team, @your-team/admin-team, @your-team/core-team

🔧 Migrate to Azure Managed Identity and cleanup obsolete documentation
  .env.example
  PROJECT_SUMMARY.md
  docs/04-AZURE-KEYVAULT-INTEGRATION.md
  docs/PR_PROTECTION_GUIDE.md
  docs/README.md
Owners: @your-team/devops-team, @your-team/core-team

🔧 Update Checkmarx authentication to use client credentials
  .env.example
  .github/actions/security-scan/action.yml
  .github/workflows/pr-protection.yml
  README.md
  docs/06-PR-PROTECTION-GUIDE.md
Owners: @your-team/devops-team, @your-team/security-team, @your-team/admin-team, @your-team/core-team

🔧 Fix redundant checkmarx_client_secret parameter
  .github/workflows/pr-protection.yml
  docs/06-PR-PROTECTION-GUIDE.md
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

Checkpoint before follow-up message
  .github/actions/security-scan/action.yml
  .github/workflows/pr-protection.yml
Owners: @your-team/security-team, @your-team/devops-team, @your-team/admin-team

Checkpoint before follow-up message
  .github/workflows/pr-protection.yml
  docs/12-CONFIGURABLE-THRESHOLDS.md
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

✨ Add comprehensive configurable security and quality thresholds
  .github/workflows/enhanced-ci-cd.yml
  .github/workflows/pr-protection.yml
  README.md
  docs/README.md
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

🏷️ Implement environment-specific versioning strategy
  .github/workflows/enhanced-ci-cd.yml
  README.md
  docs/13-VERSIONING-STRATEGY.md
  docs/README.md
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

Checkpoint before follow-up message
  .github/workflows/enhanced-ci-cd.yml
Owners: @your-team/devops-team, @your-team/admin-team

Checkpoint before follow-up message
  .github/workflows/enhanced-ci-cd.yml
Owners: @your-team/devops-team, @your-team/admin-team

Checkpoint before follow-up message
  .github/workflows/enhanced-ci-cd.yml
Owners: @your-team/devops-team, @your-team/admin-team

🏭 Implement enterprise-grade production deployment strategy
  .github/workflows/enhanced-ci-cd.yml
  README.md
  docs/14-PRODUCTION-GRADE-DEPLOYMENT.md
  docs/README.md
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

🚀 Add simplified deployment option for easier maintenance
  .github/workflows/simple-ci-cd.yml
  README.md
  docs/README.md
  docs/SIMPLE-DEPLOYMENT-GUIDE.md
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

🎯 Add intermediate production-grade deployment with all requested features
  .github/workflows/intermediate-ci-cd.yml
  README.md
  docs/INTERMEDIATE-DEPLOYMENT-GUIDE.md
  docs/README.md
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

🎯 Add composite actions for intermediate CI/CD with comprehensive security scanning
  .github/actions/README.md
  .github/actions/checkmarx-scan/action.yml
  .github/actions/sonar-analysis/action.yml
  .github/workflows/intermediate-ci-cd.yml
  docs/INTERMEDIATE-DEPLOYMENT-GUIDE.md
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

Checkpoint before follow-up message
  .github/actions/checkmarx-scan/action.yml
  .github/actions/sonar-analysis/action.yml
Owners: @your-team/core-team

🎯 Simplify composite actions for intermediate CI/CD complexity
  .github/actions/README.md
  .github/actions/checkmarx-scan/action.yml
  .github/actions/sonar-analysis/action.yml
Owners: @your-team/core-team

🚀 Implement real-world SonarCloud and Checkmarx AST integrations
  .github/actions/README.md
  .github/actions/checkmarx-scan/action.yml
  .github/actions/sonar-analysis/action.yml
  .github/workflows/intermediate-ci-cd.yml
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

🧹 Simplify inline scripts while preserving all main requirements
  .github/actions/checkmarx-scan/action.yml
  .github/actions/sonar-analysis/action.yml
Owners: @your-team/core-team

🧹 MASSIVE SIMPLIFICATION: Reduce code by ~80% while keeping ALL core features
  .github/actions/README.md
  .github/actions/checkmarx-scan/action.yml
  .github/actions/sonar-analysis/action.yml
  .github/workflows/intermediate-ci-cd.yml
  package.json.example
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

Checkpoint before follow-up message
  .github/workflows/intermediate-ci-cd.yml
Owners: @your-team/devops-team, @your-team/admin-team

Extract Azure Static Web Apps deployment parameters to common ENV variables
  .github/workflows/intermediate-ci-cd.yml
Owners: @your-team/devops-team, @your-team/admin-team

📚 Complete Frontend Integration Guide & Templates
  INTEGRATION_GUIDE.md
  configs/react-package.json
  configs/sonar-project.properties
  configs/staticwebapp.config.json
  configs/vue-package.json
  setup-frontend-pipeline.sh
Owners: @your-team/core-team

Checkpoint before follow-up message
  .github/actions/README.md
  .github/actions/checkmarx-scan/action.yml
  .github/workflows/intermediate-ci-cd.yml
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

🔧 Update Checkmarx action to use client_id and client_secret authentication
  .github/actions/README.md
  INTEGRATION_GUIDE.md
Owners: @your-team/core-team

📚 Clear Frontend Integration Guides - No More Confusion!
  FRONTEND_INTEGRATION_STEPS.md
  INTEGRATION_VISUAL_GUIDE.md
Owners: @your-team/core-team

📝 Add comprehensive .gitignore for frontend applications
  FRONTEND_INTEGRATION_STEPS.md
  INTEGRATION_GUIDE.md
  INTEGRATION_VISUAL_GUIDE.md
  configs/frontend.gitignore
  setup-frontend-pipeline.sh
Owners: @your-team/core-team

Checkpoint before follow-up message
  .github/workflows/intermediate-ci-cd.yml
Owners: @your-team/devops-team, @your-team/admin-team

Checkpoint before follow-up message
  .github/workflows/intermediate-ci-cd.yml
Owners: @your-team/devops-team, @your-team/admin-team

Simplify CI/CD workflow: Remove emojis, reduce verbosity, clean output
  .github/actions/checkmarx-scan/action.yml
  .github/actions/sonar-analysis/action.yml
  .github/workflows/intermediate-ci-cd.yml
  SIMPLIFICATION_SUMMARY.md
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

Clean all emojis from workflows and composite actions
  .github/actions/azure-keyvault/action.yml
  .github/actions/checkmarx-scan/action.yml
  .github/actions/deploy-static-app/action.yml
  .github/actions/enhanced-deploy/action.yml
  .github/actions/security-scan/action.yml
  .github/workflows/enhanced-ci-cd.yml
  .github/workflows/pr-protection.yml
  .github/workflows/semantic-release.yml
  .github/workflows/simple-ci-cd.yml
Owners: @your-team/security-team, @your-team/devops-team, @your-team/core-team, @your-team/admin-team

Clean all emojis from workflows and composite actions
  EMOJI_CLEANUP_SUMMARY.md
Owners: @your-team/core-team
