Repository abhiksd/azure-static-webapp-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team, @your-team/security-team, @your-team/frontend-team, @your-team/backend-team, @your-team/qa-team

.github/CODEOWNERS:

# Global code owners - these users will be requested for review on all PRs
* @your-team/core-team

# GitHub Actions workflows require admin approval
/.github/workflows/ @your-team/devops-team @your-team/admin-team

# Security-sensitive files
/.github/actions/security-scan/ @your-team/security-team
/.github/actions/azure-keyvault/ @your-team/security-team @your-team/devops-team

# Deployment configurations
/.github/actions/deploy-static-app/ @your-team/devops-team
/staticwebapp.config.json @your-team/devops-team
/azure-pipelines.yml @your-team/devops-team

# Package management
/package.json @your-team/core-team
/package-lock.json @your-team/core-team

# Configuration files
/.releaserc.json @your-team/core-team
/sonar-project.properties @your-team/core-team
/.env* @your-team/devops-team

# Documentation
/README.md @your-team/core-team
/docs/ @your-team/core-team

# Source code by feature area
/src/components/ @your-team/frontend-team
/src/services/ @your-team/backend-team
/src/utils/ @your-team/core-team
/src/hooks/ @your-team/frontend-team
/src/contexts/ @your-team/frontend-team

# Testing
/src/**/*.test.* @your-team/qa-team
/src/**/*.spec.* @your-team/qa-team
/e2e/ @your-team/qa-team
/cypress/ @your-team/qa-team

# Build and deployment
/build/ @your-team/devops-team
/dist/ @your-team/devops-team
/Dockerfile @your-team/devops-team
/docker-compose.yml @your-team/devops-team

Checkpoint before follow-up message
  .github/actions/sonar-analysis/action.yml
Owners: @your-team/core-team

Parameterize SonarQube server URL in composite action
  .github/actions/README.md
  .github/actions/sonar-analysis/action.yml
  .github/workflows/intermediate-ci-cd.yml
  SONARQUBE_CONFIGURATION.md
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

Fix SonarQube SSL certificate issues and deprecated parameter
  .github/actions/README.md
  .github/actions/sonar-analysis/action.yml
  .github/workflows/intermediate-ci-cd.yml
  SONARQUBE_CONFIGURATION.md
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

Add SSL troubleshooting guide and debug step
  .github/workflows/intermediate-ci-cd.yml
  SSL_TROUBLESHOOTING.md
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

Add proper SSL certificate import for Ubuntu runners
  .github/actions/sonar-analysis/action.yml
  .github/workflows/intermediate-ci-cd.yml
  CERTIFICATE_SETUP_GUIDE.md
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

Enhanced: Import complete CA certificate chain from SONAR_HOST_URL
  .github/actions/sonar-analysis/action.yml
  CERTIFICATE_SETUP_GUIDE.md
Owners: @your-team/core-team

Revert "Add proper SSL certificate import for Ubuntu runners"
  .github/actions/sonar-analysis/action.yml
  .github/workflows/intermediate-ci-cd.yml
  CERTIFICATE_SETUP_GUIDE.md
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

Revert "Enhanced: Import complete CA certificate chain from SONAR_HOST_URL"
  .github/actions/sonar-analysis/action.yml
  CERTIFICATE_SETUP_GUIDE.md
Owners: @your-team/core-team

Complete revert of CA certificate import features
  .github/workflows/intermediate-ci-cd.yml
  SSL_TROUBLESHOOTING.md
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

Add Checkmarx authentication troubleshooting
  .github/workflows/intermediate-ci-cd.yml
  CHECKMARX_TROUBLESHOOTING.md
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

Optimize Checkmarx scan for frontend applications
  .github/actions/checkmarx-scan/action.yml
  .github/workflows/intermediate-ci-cd.yml
  CHECKMARX_TROUBLESHOOTING.md
  FRONTEND_CHECKMARX_OPTIMIZATION.md
Owners: @your-team/core-team, @your-team/devops-team, @your-team/admin-team

Fix Azure Static Web Apps Docker permission issues
  .github/actions/deploy-static-app/action.yml
  .gitignore
  AZURE_DEPLOYMENT_TROUBLESHOOTING.md
Owners: @your-team/devops-team, @your-team/core-team

Create shared workflow architecture for frontend CI/CD
  .github/workflows/shared-ci-cd.yml
  SHARED_WORKFLOW_MIGRATION_GUIDE.md
  frontend-app-workflow-example.yml
  pr-security-check.yml
  setup-shared-repository.sh
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team

Centralize variables and split security scanning into separate jobs
  .github/workflows/shared-ci-cd.yml
  SHARED_WORKFLOW_CENTRALIZATION_UPDATE.md
  frontend-app-workflow-example.yml
Owners: @your-team/devops-team, @your-team/admin-team, @your-team/core-team
